body {
    background-color: #a59a01;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
     background-color: #eaee04;
      color: rgb(19, 65, 216);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: cente;
    max-width: 90%;
}

img {
    max-width: 90%;
}