body {
    background-color: #252772ec;
    color: rgb(247, 247, 247);
     font-family: "Bai Jamjuree", sans-serif;
}


button {
background-color: rgb(81, 85, 85);
color: rgb(0, 0, 0);
     font-family: "Bai Jamjuree", sans-serif;
}
